@charset "utf-8";
/* CSS Document */
body{background:#F5F5F5;}
.clear{clear:both;}
.myassets{width:100%; height:auto; background:url(../images/uCenter/myassetsBj.jpg) no-repeat center; background-size:100%;}
.myassetsP{padding:3.5rem 0 5.5rem; text-align:center; color:#fff; font-size:1.2rem;}
.mymoney{width:94%; height:auto; display:inline-block; height:4rem; line-height:4rem; background:#fff; padding:1rem 3% 0;}
.moneyBox{border-top:1px #E6E6E6 dotted;}
.mymoneyLe{float:left; color:#333; font-size:1.2rem;}
.mymoneyLe i{color:#ff4f64;}
.mymoneyRight{float:right;}
.mymoneyRight button{background:none; color:#ff4f64; padding:.5rem 1.5rem; border:1px #EAEAEA solid; border-radius:4px; box-shadow:0 1px 1px #ff4f64;}
.myassetsDl{width:100%; height:auto; display:inline-block; background:#fff; margin-top:1rem; border-top:1px #F2F2F2 solid;}
.myassetsDl dl{width:100%; height:4rem; line-height:4rem; border-bottom:1px #F2F2F2 solid;}
.myassetsDl dl dd{width:10%; float:left; text-align:center;}
.myassetsDl dl dd img{width:1.5rem; vertical-align:middle; margin:-.2rem 0 0 .5rem;}
.myassetsDl dl dt{width:90%; float:left;}